# Telegram
TELEGRAM_TOKEN=8607478432:AAH_JrtKfGIB9lYApmBzdonTuTWW9JmxTac

# Google Gemini
GEMINI_KEY=AIzaSyCeZrNx9-ZC6TNsyQTcGZ-YD3jzYRlULBs

# Notion
NOTION_TOKEN=ntn_t827148924847ReYK3yiHfQS20g3fpSzULURUK11oqh1cV
NOTION_PARENT_PAGE_ID=35e1ed04e8e080ec9b9bd19fa476a2d8

# 서버 포트 (Render에서는 자동 설정됨)
PORT=3000
